gunicorn==19.9.0
opencv-python-headless==4.2.0.32
numpy>=1.16.0
entrypoints==0.3
Flask==1.1.2
google-trans-new==1.1.9
googletrans==3.0.0
httpcore==0.9.1
httpx==0.13.3
imageio==2.9.0
imutils==0.5.3
Keras-Preprocessing>=1.1.2
pyzbar==0.1.8
tensorflow==2.3.0
utils==1.0.1
